#portada{

}
#portada .holder{
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
}
#portada h3{
    text-align: center;
    margin-bottom: -116px;
    z-index: 2;
    font-family: 'Supra-NormalExtended';
    font-size: 24px;
    color: #FFFFFF;
    width: 648px;
}
#contacto .holder{
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
}
#contacto h3{
    font-family: 'Supra-XBoldExtended';
    font-size: 26px;
    color: #F29105;
}
#contacto form{
    width: 928px;
}
#contacto .form-control{
    background: #000000;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #F29105;
    color: #FFFFFF;
    font-family: 'Supra-XLightExtended';
    font-size: 12px;
    box-shadow: none;
}
#contacto textarea.form-control{
    border-top: 1px solid #F29105;
    border-bottom: 1px solid #F29105;
    margin-top: 29px;
    height: 160px;
}
#contacto .form-control::placeholder{
    color: #FFFFFF;
}
#contacto textarea.form-control::placeholder{
    color: #FFFFFF;
}
#contacto .submit{
    text-align: end;
}
#contacto .submit button{
    background: #F29105;
    color: #000000;
    font-family: 'Supra-XBoldExtended';
    border-radius: 0;
    width: 116px;
    height: 35px;
}
#contacto .submit button:hover{
    background: #764602;
    color: #FFFFFF;
    border-color: transparent;
}
#contacto .finalizacion{
    height: 288px;
}
#contacto .finalizacion h3{
    font-family: 'Supra-NormalExtended';
    color: #C7C6C6;
    font-size: 24px;
}
@media (max-width: 767px){
    #portada .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    #portada h3{
        font-size: 16px;
        padding: 0px 20px;
        margin-top: 0;
        margin-bottom: -30px;
        margin-top: 10px;
    }
    #contacto h3{
        font-size: 20px;
    }
}